<h3>Twitch</h3>
<object type="application/x-shockwave-flash" height="100%" width="100%" data="http://www.justin.tv/widgets/jtv_player.swf?channel={{streamId}}">
<param name="movie" value="http://www.justin.tv/widgets/jtv_player.swf">
<param name="flashvars" value="start_volume=0&amp;channel={{streamId}}&amp;auto_play=true&amp;&amp;enable_javascript=true&amp;consumer_key=96OPe6EWesFs5PdLgQzxA">
<param name="allowFullScreen" value="true">
<param name="allowScriptAccess" value="always">
<param name="allowNetworking" value="all">
<param name="wmode" value="transparent">
</object>