<div id="controls">
	<button id="play-ads-btn">PLAY ADS</button>
	<button id="stop-ads-btn">STOP ADS</button>
	<h3 id="ad-timer">00.00</h3>
	<h3 id="ad-status">Are ads running? <span class="no-ads">NO</span></h3>
</div>