@import 'nib'

 
.ad-controls
  margin: auto
  width: 100%
  h3
    color: #fff
    float: left
    margin: 7px
  button
  	float: left
  	margin: 7px
  	border-radius: 3px
.no-ads
	color: #f00
.yes-ads
	color: #0f0